    /*----First Page---Home Page css---*/

    hr{
        background-color:#000;
        border:0;
        margin-top: -0.5vh;
        margin-left:25vw;
        width:8vw; 
        height: 5px;
        z-index: 6;
    }
    #circle{    
        height:45vh;
        width:45vh;
        border-radius: 30vh;
        background-color: #66de90;
        z-index: 1;
        margin:0;
        margin-top: -20vh;
        margin-left:14vw;
        position: absolute;
    }
    .home_page{
        position: absolute;
        top:22vh;
        z-index: 200;
    }
    .home_page>h1,h2,p{
        text-align: left;
		font-family: arial,helvetica;
		color: #000;
        margin-left:25vw;

    }
    .home_page h1{
        font-size: 8em;
            
    }
    .home_page h2{
        font-size: 4.5em;
        margin-top: -4vh;
    }
    .home_page p{
        font-size: 2em;
    }
    nav p{
        position: absolute;
        right:10vw;
        bottom:8vh;
        font-size: 0.7em;
    }
    nav span img{
        position: absolute;
        right:10vw;
        bottom:12vh;
        height:17px;
        width:22px;
    }
    nav ul{
        position: absolute;
        right:10vw;
        bottom:5vh;
    }
    nav ul li{
        list-style: none;
        display:inline;
        font-size: 0.8em;
        margin-left:10px;
        border-bottom: 1px solid black;
    }

    /*----Second Page---About Page css---*/

    .second_page{
        font-family: Open Sans Regular;
        text-align: left;
        font-size: 1.1em;
    }
    .sp_heading{
        font-family: Raleway SemiBold;
    }
    .sp_exp_heading{
        font-family: Open Sans Semibold;
        font-size: 1.2em;
    }
    .sp_exp_sub{
        font-family: Open Sans Light;
        font-size: 0.9em;
    }
    .timeline img{
        position: absolute;
        height:80px;
        right: 0px;
        bottom:5vh;
    }
    #resume_btn{
        background-color: black;
        color:white;
        font-size: 0.8em;
        font-family: Open Sans Semibold;
        padding: 10px 30px;
        border: 0;
    }
    #hr_abt{
        margin-top: 0;
        margin-left: 0;
        z-index: 6;
    }

    /*----Third Page---Project Page css---*/

    .third_page{
        font-family: Open Sans Regular;
        text-align: left;
        font-size: 1.1em;
    }
    .tp_heading{
        font-family: Raleway SemiBold;
    }
    .project_sm_box{
        height: 283px;
        width: 283px;
        border: 7px solid black;
        margin-right: 2px;
    }
    .project_lg_box{
        height: 283px;
        width: 567px;
        border: 7px solid black;
    }

    /*----Fourth Page---Dribble Page css---*/

    .db_feedbox img{
        border-radius: 3px;
        width:190px;
        height:160px;
    }
    #hr_drb{
        margin-top: 0;
        margin-left: 0;
        z-index: 6;
    }


    /* ---------------- MEDIA QUERIES----------------------*/
    @media only screen and (min-width:1400px) {
        body{
            background-color: pink;
        }
        .home_page{
            position: absolute;
            top:25%;
        }
        .home_page>h1,h2,p{
        margin-left:30vw;

        }
        .home_page h1{
            font-size: 9.5em;

        }
        .home_page h2{
            font-size: 6em;
            margin-top: -3vh;
        }
        .home_page p{
            font-size: 2em;
        }  
        #hp_hr{
            margin-left: 30vw;
        }
        
    } 
@media only screen and (max-width:1199px) {
        body{
            background-color: blue;
        }
        .db_feedbox img{
            border-radius: 3px;
            width:160px;
            height:145px;
        } 
        .third_page{
            font-size: 1em;
        }
        .project_sm_box{
            height: 250px;
            width: 250px;
            border: 6px solid black;
        }
        .project_lg_box{
            height: 250px;
            width: 505px;
            border: 6px solid black;
        }

    }
    @media only screen and (max-width:991px) {
        body{
            background-color: red;
        }
        #circle{    
            height:25vh;
            width:25vh;
            border-radius: 30vh;
            background-color: #66de90;
            z-index: 1;
            margin:0;
            margin-top: -15vh;
            margin-left:8vw;
            position: absolute;
        }
        .home_page{
            position: absolute;
            top:22vh;
            z-index: 200;
        }
        .home_page>h1,h2,p{
            margin-left:32vw;

        }
        .home_page h1{
            margin-top: 13vh;

        }
        .home_page h2{
            margin-top: -2vh;
        }
        .home_page hr{
            margin-left:32vw;
            width:10vh;
        }
        .db_feedbox img{
            border-radius: 3px;
            width:250px;
            height:150px;
        }   
        .third_page{
            font-size: 0.9em;
        }
        .project_sm_box{
            height: 220px;
            width: 500px;
            border: 6px solid black;
        }
        .project_lg_box{
            height: 220px;
            width: 500px;
            border: 6px solid black;
        }  
        #hr_drb{
            width:80px; 
            margin-left: 40%;
        }
    
    }
    @media only screen and (max-width:767px) {
        body{
            background-color: orange;
        }
        .home_page{
            position: absolute;
            top:30%;
        }
        .home_page>h1,h2,p{
        margin-left:25vw;

        }
        .home_page h1{
            font-size: 4.5em;

        }
        .home_page h2{
            font-size: 3em;
            margin-top: -2vh;
        }
        .home_page p{
            font-size: 1em;
        }
    
        .db_feedbox img{
            border-radius: 3px;
            width:200px;
            height:150px;
        } 
        .third_page{
            font-size: 0.9em;
        }
        .project_sm_box{
            height: 200px;
            width: 75vw;
            border: 6px solid black;
        }
        .project_lg_box{
            height: 200px;
            width: 75vw;
            border: 6px solid black;
        }  
        #hr_drb{
        width:80px; 
            margin-left: 40%;
        }
    
    }
    @media only screen and (max-width:320px) {
        body{
            background-color: green;
        }
        .home_page{
            position: absolute;
            top:25%;
        }
        .home_page h1{
            font-size: 3.5em;

        }
        .home_page h2{
            font-size: 2em;
            margin-top: -2vh;
        }
        .home_page p{
            font-size: 1em;
        }
    
        .db_feedbox img{
            border-radius: 3px;
            width:200px;
            height:150px;
            
        } 
        .db_feedbox{
            margin-left: 15%;
            margin-right: 15%;
        }     
        .third_page{
            font-size: 0.9em;
        }
        .project_sm_box{
            height: 150px;
            width: 75vw;
            border: 6px solid black;
        }
        .project_lg_box{
            height: 150px;
            width: 75vw;
          
    
    }